@model IEnumerable<ONT_3rdyear_Project.Models.Instruction>
@{
	ViewData["Title"] = "Requested Doctor Instructions";
}

<h2>Requested advices</h2>

<table class="table">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Requested Advice</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Patient.FirstName @item.Patient.LastName</td>
               <td>@item.NurseRequest</td>
                <td>@(string.IsNullOrEmpty(item.Instructions) ? "Pending" : "Reviewed")</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Instructions))
                    {
                        <a asp-action="ViewAdvice" asp-route-id="@item.InstructionID" class="btn btn-sm btn-info">View</a>
                    }
                    else
                    {
                        <span class="text-muted">No Response</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



